<!DOCTYPE html>
<html>
<head>
	<title> Lab 13 </title>
	<link rel="stylesheet" type="text/css" href="styles.css" >
</head>
<body ng-app="simulator" ng-controller="wordController">
	<header> <h1> Random Word Generator </h1> </header>
<div class="buttons">
	<button id="words" ng-click="addWord()"> Words</button>
	<button ng-click="decoratedWord()"> Words (with decoration) </button>
	<button ng-click="moreWords()"> More Words </button>
	<button ng-click=""> More Words (with decoration) </button>
</div>
	<span ng-repeat="word in words track by $index" ng-class="word.style">{{word.text}} </span>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"> </script>
<script src="script.js"></script>
</html>
